# Ignore the mt5 model and all its contents
**/mt5-base-cnn-summarizer-en-hi*/
**/mbart-large-50-cnn-summarizer*/
**/flan-t5-large-cnn-summarizer*/

# Ignore environment files containing secrets
.env
# Ignore Python compiled files
*.pyc
# Ignore all .pth files
*.pth
# Ignore model files
*.bin

# Ignore dataset image files
*.jpg
*.png
*.gif
*.jpeg